<?xml version="1.0"?>
<configuration>
	 
	<connectionStrings>

		<!--145.239.83.195-->
		<add name="conSR" connectionString="server=localhost;uid=vinayakatravelsuserid_145;pwd=@0C2vin2bu61;database=VinayakaTravelsDb;" providerName="System.Data.SqlClient" />
		<!--<add name="conSR" connectionString="Server=(localdb)\MSSQLLocalDB; database=VinayakaTravelsDB;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<compilation targetFramework="4.6.2" debug="true"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
		<httpRuntime maxRequestLength="51200" executionTimeout="180" requestValidationMode="2.0"/>
	</system.web>
	<system.webServer>
		<httpErrors errorMode="Custom">
			<remove statusCode="404"/>
			<error statusCode="404" responseMode="Redirect" path="/404.aspx"/>
		</httpErrors>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="52428800"/>
			</requestFiltering>
		</security>
	</system.webServer>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="from" value="contactalertserver@gmail.com"/>
		<add key="fromName" value="Vinayaka travels"/>
		<add key="host" value="smtp.gmail.com"/>
		<add key="port" value="587"/>
		<add key="domain" value="https://vinayakatravels.com/"/>
		<add key="userName" value="contactalertserver@gmail.com"/>
		<add key="password" value="cewhywqoftofhgjx"/>
		<add key="enableSsl" value="true"/>
		<add key="ToMail" value="info@vinayakatravels.com"/>
		<add key="CCMail" value="ananya@nextwebi.com"/>
		<add key="BCCMail" value=""/>
	</appSettings>
</configuration>