/*==============================================
    Blog One
===============================================*/
.blog-one {
    position: relative;
    display: block;
    background-color: var(--gizmo-white);
    padding: 135px 0 116px;
    z-index: 1;
}

.blog-one__single {
    position: relative;
    display: block;
    margin-bottom: 18px;
}

.blog-one__img-box {
    position: relative;
    display: block;
}

.blog-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 2px;
    z-index: 1;
}

.blog-one__img::after {
    background: linear-gradient(90deg, rgba(var(--gizmo-white-rgb, 255, 255, 255), 0.05) 0px, rgba(var(--gizmo-white-rgb, 255, 255, 255), 0.05) 77%, rgba(var(--gizmo-white-rgb, 255, 255, 255), 0.25) 92%, rgba(var(--gizmo-white-rgb, 255, 255, 255), 0));
    content: "";
    height: 200%;
    left: -210%;
    opacity: 0;
    position: absolute;
    top: -50%;
    transition: all 0.7s ease 0s;
    width: 200%;
}

.blog-one__single:hover .blog-one__img::after {
    left: -30%;
    opacity: 1;
    top: -20%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: linear;
}

.blog-one__img img {
    width: 100%;
    border-radius: 2px;
    transform: scale3d(1, 1, 1);
    transition: transform 1s ease-in-out;
}

.blog-one__single:hover .blog-one__img img {
    transform: scale(1.05) rotate(0deg);
}

.blog-one__content {
    position: relative;
    display: block;
    margin-top: 22px;
}

.blog-one__date {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
}

.blog-one__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    border-bottom: 1px solid var(--gizmo-black);
    margin-top: 16px;
    margin-bottom: 27px;
    padding-bottom: 27px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-one__title:hover {
    border-bottom: 1px solid var(--gizmo-base);
}

.blog-one__title a {
    color: var(--gizmo-black);
}

.blog-one__title a:hover {
    color: var(--gizmo-base);
}

.blog-one__read-more {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--gizmo-gray);
}

.blog-one__read-more:hover {
    color: var(--gizmo-base);
}

.blog-one__read-more span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    font-size: 10px;
    color: var(--gizmo-white);
    background-color: var(--gizmo-base);
    border-radius: 50%;
    -webkit-transform: scale(0) rotate(45deg);
    transform: scale(0) rotate(45deg);
    opacity: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-one__single:hover .blog-one__read-more span {
    -webkit-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
    transition-delay: 300ms;
    opacity: 1;
}

/*--------------------------------------------------------------
# Blog Two
--------------------------------------------------------------*/
.blog-two {
    position: relative;
    display: block;
    padding: 140px 0 110px;
    z-index: 1;
}

.blog-two__shape-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.blog-two__left {
    position: relative;
    display: block;
    margin-right: -5px;
    margin-bottom: 30px;
}

.blog-two__img {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}

.blog-two__img:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(2, 6, 38, .40);
    z-index: 1;
}

.blog-two__img img {
    width: 100%;
    transform: scale3d(1, 1, 1);
    transition: transform 1s ease-in-out;
}

.blog-two__left:hover .blog-two__img img {
    transform: scale(1.05) rotate(0deg);
}

.blog-two__content {
    position: absolute;
    bottom: 30px;
    left: 50px;
    z-index: 2;
}

.blog-two__date {
    font-size: 16px;
    font-weight: 500;
    color: var(--gizmo-white);
}

.blog-two__title {
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: -0.03em;
    margin-top: 8px;
    margin-bottom: 25px;
}

.blog-two__title a {
    color: var(--gizmo-white);
}

.blog-two__title a:hover {
    color: var(--gizmo-base);
}

.blog-two__read-more {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--gizmo-white);
    gap: 5px;
}

.blog-two__read-more span {
    position: relative;
    top: 2px;
}

.blog-two__read-more:hover {
    color: var(--gizmo-base);
}

.blog-two__right {
    position: relative;
    display: block;
    margin-left: 25px;
}

.blog-two__list-box {
    position: relative;
    display: block;
}

.blog-two__list-box li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(var(--gizmo-base-rgb), .55);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.blog-two__list-box li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.blog-two__content-two {
    position: relative;
    display: block;
}

.blog-two__date-two {
    font-size: 16px;
    font-weight: 500;
    color: var(--gizmo-white);
}

.blog-two__title-two {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: -0.03em;
    margin-top: 6px;
    margin-bottom: 16px;
}

.blog-two__title-two a {
    color: var(--gizmo-white);
}

.blog-two__title-two a:hover {
    color: var(--gizmo-base);
}

.blog-two__read-more-two {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--gizmo-white);
    gap: 5px;
}

.blog-two__read-more-two span {
    position: relative;
    top: 2px;
}

.blog-two__read-more-two:hover {
    color: var(--gizmo-base);
}

.blog-two__list-img-box {
    position: relative;
    display: block;
    width: 190px;
    overflow: hidden;
    z-index: 1;
}

.blog-two__list-img-box::after {
    background: linear-gradient(90deg, rgba(var(--gizmo-white-rgb, 255, 255, 255), 0.05) 0px, rgba(var(--gizmo-white-rgb, 255, 255, 255), 0.05) 77%, rgba(var(--gizmo-white-rgb, 255, 255, 255), 0.25) 92%, rgba(var(--gizmo-white-rgb, 255, 255, 255), 0));
    content: "";
    height: 200%;
    left: -210%;
    opacity: 0;
    position: absolute;
    top: -50%;
    transition: all 0.7s ease 0s;
    width: 200%;
}

.blog-two__list-box li:hover .blog-two__list-img-box::after {
    left: -30%;
    opacity: 1;
    top: -20%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: linear;
}

.blog-two__list-img-box img {
    width: 100%;
    transform: scale3d(1, 1, 1);
    transition: transform 1s ease-in-out;
}

.blog-two__list-box li:hover .blog-two__list-img-box img {
    transform: scale(1.05) rotate(0deg);
}

/*--------------------------------------------------------------
# Blog Details
--------------------------------------------------------------*/
.blog-details {
    position: relative;
    display: block;
    padding: 140px 0 140px;
    z-index: 1;
}

.blog-details__left {
    position: relative;
    display: block;
    margin-right: 18px;
}

.blog-details__img-box {
    position: relative;
    display: block;
}

.blog-details__img {
    position: relative;
    display: block;
}

.blog-details__img img {
    width: 100%;
    border-radius: 2px;
}

.blog-details__content {
    position: relative;
    display: block;
    margin-top: 33px;
}

.blog-details__title-1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

.blog-details__meta {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 21px;
    margin-bottom: 26px;
}

.blog-details__meta li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-details__meta li .icon {
    position: relative;
    display: inline-block;
    top: 1px;
}

.blog-details__meta li .icon span {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: var(--gizmo-base);
}

.blog-details__meta li a {
    color: var(--gizmo-black);
}

.blog-details__meta li a:hover {
    color: var(--gizmo-base);
}

.blog-details__img-and-points {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 42px;
    margin-bottom: 43px;
}

.blog-details__points-img {
    position: relative;
    display: block;
    max-width: 330px;
    width: 100%;
}

.blog-details__points-img img {
    width: 100%;
}

.blog-details__points {
    position: relative;
    display: block;
}

.blog-details__points li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog-details__points li+li {
    margin-top: 21px;
}

.blog-details__points li .icon {
    position: relative;
    display: inline-block;
}

.blog-details__points li .icon span {
    position: relative;
    display: inline-block;
    font-size: 25px;
    color: var(--gizmo-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-details__points li:hover .icon span {
    color: var(--gizmo-base);
}

.blog-details__points li p {
    font-size: 18px;
    font-weight: 500;
    color: var(--gizmo-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-details__points li:hover p {
    color: var(--gizmo-base);
}

.blog-details__title-2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.blog-details__text-2 {
    margin-top: 14px;
    margin-bottom: 41px;
}

.blog-details__img-box {
    position: relative;
    display: block;
}

.blog-details__img-box-img {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.blog-details__img-box-img img {
    width: 100%;
}

.blog-details__title-3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-top: 9px;
    margin-bottom: 15px;
}

.blog-details__text-box {
    position: relative;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 45px 30px 42px;
    margin-top: 46px;
}

.blog-details__quote {
    position: relative;
    display: inline-block;
}

.blog-details__quote span {
    position: relative;
    display: inline-block;
    font-size: 34px;
    color: var(--gizmo-base);
}

.blog-details__text-box-text {
    margin-top: 15px;
    margin-bottom: 18px;
}

.blog-details__text-box-client-name {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.blog-details__text-box-shape {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: var(--gizmo-base);
    border-radius: 1px;
}

.blog-details__text-box-client-name p {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    font-family: var(--gizmo-font-two);
    color: var(--gizmo-base);
}

.blog-details__title-4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-top: 39px;
    margin-bottom: 19px;
}

.blog-details__client-info {
    position: relative;
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 100px;
    margin-bottom: 75px;
}

.blog-details__client-img {
    position: relative;
    display: block;
    max-width: 182px;
    width: 100%;
    border-radius: 5px;
}

.blog-details__client-img img {
    width: 100%;
    border-radius: 5px;
}

.blog-details__client-content {
    position: relative;
    display: block;
}

.blog-details__client-name {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}

.blog-details__client-text {
    margin-top: 15px;
    margin-bottom: 37px;
}

.blog-details__client-social {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog-details__client-social a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: var(--gizmo-white);
    background-color: #141414;
    border-radius: 50%;
}

.blog-details__client-social a:hover {
    background-color: var(--gizmo-base);
    color: var(--gizmo-white);
}

.blog-details__prev-next {
    position: relative;
    display: block;
}

.blog-details__prev {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--gizmo-white);
    padding: 36px 30px 36px;
    margin-bottom: 30px;
}

.blog-details__prev-img {
    position: relative;
    display: block;
    max-width: 85px;
    width: 100%;
}

.blog-details__prev-img img {
    width: 100%;
    border-radius: 3px;
}

.blog-details__prev-content {
    position: relative;
    display: block;
}

.blog-details__prev-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 300;
}

.blog-details__prev-btn:hover {
    color: var(--gizmo-black);
}

.blog-details__prev-btn span {
    transform: rotate(180deg);
}

.blog-details__prev-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    font-family: var(--gizmo-font);
    text-transform: capitalize;
    margin-top: 7px;
}

.blog-details__prev-title a {
    color: var(--gizmo-black);
}

.blog-details__prev-title a:hover {
    color: var(--gizmo-base);
}

.blog-details__next {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    background-color: var(--gizmo-white);
    padding: 36px 30px 36px;
    margin-bottom: 30px;
}

.blog-details__next-img {
    position: relative;
    display: block;
    max-width: 85px;
    width: 100%;
}

.blog-details__next-img img {
    width: 100%;
    border-radius: 3px;
}

.blog-details__next-content {
    position: relative;
    display: block;
    text-align: right;
}

.blog-details__next-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    font-weight: 300;
}

.blog-details__next-btn:hover {
    color: var(--gizmo-black);
}

.blog-details__next-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    font-family: var(--gizmo-font);
    text-transform: capitalize;
    margin-top: 7px;
}

.blog-details__next-title a {
    color: var(--gizmo-black);
}

.blog-details__next-title a:hover {
    color: var(--gizmo-base);
}

.comment-one {
    position: relative;
    display: block;
    margin-top: 63px;
    margin-bottom: 40px;
}

.comment-one__title {
    position: relative;
    display: block;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 47px;
}

.comment-one__title::before {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 70px;
    height: 3px;
    border-radius: 1px;
    background-color: var(--gizmo-base);
}

.comment-one__single {
    position: relative;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(var(--gizmo-gray-rgb), .20);
    padding-bottom: 30px;
}

.comment-one__single+.comment-one__single {
    margin-top: 40px;
}

.comment-one__single-2 {
    margin-left: 50px;
    border-bottom: 0;
    padding-bottom: 0;
}

.comment-one__image {
    position: relative;
    display: block;
    max-width: 120px;
    width: 100%;
}

.comment-one__image img {
    width: 100%;
    border-radius: 3px;
}

.comment-one__content {
    position: relative;
    display: block;
    margin-left: 15px;
}

.comment-one__content>h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.comment-one__content>span {
    position: relative;
    display: block;
    margin-top: 17px;
    margin-bottom: 11px;
    color: var(--gizmo-black);
}

.comment-one__content>p {
    color: var(--gizmo-black);
}

.comment-one__btn-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment-form {
    position: relative;
    display: block;
}

.comment-form__form {
    position: relative;
    display: block;
}

.comment-form__input-box {
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.comment-form__input-box input[type="text"],
.comment-form__input-box input[type="email"] {
    height: 55px;
    width: 100%;
    border: 1px solid rgba(151, 151, 151, .50);
    border-radius: 3px;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--gizmo-gray);
    display: block;
}

.comment-form__input-box textarea {
    font-size: 16px;
    color: var(--gizmo-gray);
    height: 145px;
    width: 100%;
    border: 1px solid rgba(151, 151, 151, .50);
    border-radius: 3px;
    background-color: transparent;
    padding: 20px 30px 30px;
    outline: none;
    font-weight: 400;
    margin-bottom: 0px;
}

.comment-form__input-box.text-message-box {
    height: 145px;
    margin-bottom: 30px;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    position: relative;
    display: block;
}

.sidebar__single+.sidebar__single {
    margin-top: 30px;
}

.sidebar__title {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 32px;
    color: var(--gizmo-base);
}

.sidebar__title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 60px;
    height: 2px;
    background-color: var(--gizmo-base);
}

.sidebar__search {
    position: relative;
    display: block;
    padding: 30px 30px 30px;
    border-radius: 4px;
    background-color: var(--gizmo-white);
}

.sidebar__search-form {
    position: relative;
    display: block;
}

.sidebar__search-form input[type="search"] {
    display: block;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(221, 221, 221, .60);
    font-weight: 700;
    font-size: 16px;
    height: 55px;
    width: 100%;
    padding-left: 20px;
    padding-right: 80px;
    color: var(--gizmo-base);
    border-radius: 4px;
}

.sidebar__search-form button[type="submit"] {
    color: var(--gizmo-white);
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 65px;
    width: 100%;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: var(--gizmo-base);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.sidebar__search-form button[type="submit"]:hover {
    background-color: var(--gizmo-black);
    color: var(--gizmo-white);
}

.sidebar__services {
    position: relative;
    display: block;
    padding: 30px 30px 40px;
    border-radius: 4px;
    background-color: var(--gizmo-white);
}

.sidebar__services-list {
    position: relative;
    display: block;
}

.sidebar__services-list li {
    position: relative;
    display: block;
}

.sidebar__services-list li+li {
    margin-top: 19px;
}

.sidebar__services-list li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(221, 221, 221, .60);
    font-size: 17px;
    font-weight: 600;
    line-height: 27px;
    color: var(--gizmo-black);
    padding-bottom: 17px;
}

.sidebar__services-list li a:hover {
    color: var(--gizmo-base);
    border-bottom: 1px solid var(--gizmo-base);
}

.sidebar__post {
    position: relative;
    display: block;
    padding: 30px 30px 38px;
    border-radius: 4px;
    background-color: var(--gizmo-white);
}

.sidebar__post-list {
    position: relative;
    display: block;
}

.sidebar__post-list>li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar__post-list>li+li {
    margin-top: 24px;
}

.sidebar__post-image {
    position: relative;
    display: block;
    max-width: 110px;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.sidebar__post-image img {
    width: 100%;
    border-radius: 50%;
    transform: scale3d(1, 1, 1);
    transition: transform 1s ease-in-out;
}

.sidebar__post-list>li:hover .sidebar__post-image img {
    transform: scale(1.05) rotate(0deg);
}

.sidebar__post-content {
    position: relative;
    display: block;
}

.sidebar__post-meta {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}

.sidebar__post-meta>li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar__post-meta>li .icon {
    position: relative;
    display: inline-block;
}

.sidebar__post-meta>li .icon span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--gizmo-base);
}

.sidebar__post-meta>li a {
    color: var(--gizmo-black);
}

.sidebar__post-meta>li a:hover {
    color: var(--gizmo-base);
}

.sidebar__post-content h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    font-family: var(--gizmo-font);
    margin-top: 17px;
}

.sidebar__post-content h3 a {
    color: var(--gizmo-black);
}

.sidebar__post-content h3 a:hover {
    color: var(--gizmo-base);
}

.sidebar__tags {
    position: relative;
    display: block;
    padding: 30px 30px 45px;
    border-radius: 4px;
    background-color: var(--gizmo-white);
}

.sidebar__tags-list {
    position: relative;
    display: block;
    margin-left: -16px;
}

.sidebar__tags-list a {
    color: var(--gizmo-black);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: inline-block;
    padding: 9px 17px 9px;
    border: 1px solid rgba(217, 217, 217, .80);
    margin-left: 16px;
    font-weight: 400;
    border-radius: 3px;
}

.sidebar__tags-list a+a {
    margin-top: 15px;
}

.sidebar__tags-list a:hover {
    color: var(--gizmo-white);
    background-color: var(--gizmo-base);
    border: 1px solid var(--gizmo-base);
}

/*--------------------------------------------------------------
# Blog List
--------------------------------------------------------------*/
.blog-list {
    position: relative;
    display: block;
    padding: 140px 0 140px;
    z-index: 1;
}

.blog-list__left {
    position: relative;
    display: block;
}

.blog-list__left .blog-details__text-box {
    margin-bottom: 40px;
    margin-top: 0;
}

.blog-list__single {
    position: relative;
    display: block;
    margin-bottom: 40px;
}

.blog-list__img-box {
    position: relative;
    display: block;
}

.blog-list__img {
    position: relative;
    display: block;
}

.blog-list__img img {
    width: 100%;
}

.blog-list__video-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.blog-list__video-icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 35px;
    color: var(--gizmo-base);
    background-color: var(--gizmo-white);
    border-radius: 50%;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    z-index: 1;
}

.blog-list__video-icon:hover {
    background-color: var(--gizmo-base);
    color: var(--gizmo-white);
}

.blog-list__video-icon:before {
    content: "";
    position: absolute;
    top: -11px;
    left: -11px;
    right: -11px;
    bottom: -11px;
    border: 2px dashed var(--gizmo-white);
    border-radius: 50%;
    z-index: -1;
}

.blog-list__video-link .ripple,
.blog-list__video-icon .ripple:before,
.blog-list__video-icon .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0 rgba(var(--gizmo-white-rgb), 0.6);
    -o-box-shadow: 0 0 0 0 rgba(var(--gizmo-white-rgb), 0.6);
    -webkit-box-shadow: 0 0 0 0 rgba(var(--gizmo-white-rgb), 0.6);
    box-shadow: 0 0 0 0 rgba(var(--gizmo-white-rgb), 0.6);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}

.blog-list__video-icon .ripple:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
}

.blog-list__video-icon .ripple:after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    content: "";
    position: absolute;
}

.blog-list__content {
    position: relative;
    display: block;
    margin-top: 30px;
}

.blog-list__meta {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-list__meta li {
    position: relative;
    display: block;
}

.blog-list__meta li a {
    font-size: 17px;
    line-height: 27px;
    color: var(--gizmo-black);
}

.blog-list__meta li a:hover {
    color: var(--gizmo-base);
}

.blog-list__meta li span {
    font-size: 17px;
    line-height: 27px;
    color: var(--gizmo-black);
}

.blog-list__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 22px;
    margin-bottom: 25px;
}

.blog-list__title a {
    color: var(--gizmo-black);
}

.blog-list__title a:hover {
    color: var(--gizmo-base);
}

.blog-list__btn-box {
    position: relative;
    display: block;
    margin-top: 29px;
}

.blog-list__carousel.owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-50%);
}

.blog-list__carousel.owl-theme .owl-nav .owl-next {
    height: 52px;
    width: 52px;
    line-height: 52px;
    border-radius: 50%;
    color: var(--gizmo-black);
    background-color: var(--gizmo-white);
    font-size: 20px;
    margin: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-list__carousel.owl-theme .owl-nav .owl-prev {
    height: 52px;
    width: 52px;
    line-height: 52px;
    border-radius: 50%;
    color: var(--gizmo-black);
    background-color: var(--gizmo-white);
    font-size: 20px;
    margin: 0;
    text-align: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    position: relative;
    display: inline-block;
}

.blog-list__carousel.owl-theme .owl-nav .owl-next {
    margin-left: 0px;
}

.blog-list__carousel.owl-theme .owl-nav .owl-prev {
    margin-right: 0px;
    transform: rotate(-180deg);
}

.blog-list__carousel.owl-theme .owl-nav .owl-next span,
.blog-list__carousel.owl-theme .owl-nav .owl-prev span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-list__carousel.owl-theme .owl-nav .owl-next:hover,
.blog-list__carousel.owl-theme .owl-nav .owl-prev:hover {
    background-color: var(--gizmo-base);
    color: var(--gizmo-white);
}

.blog-list__pagination {
    position: relative;
    display: block;
    text-align: center;
}

.blog-list__pagination .pg-pagination li {
    position: relative;
    display: inline-block;
}

.blog-list__pagination .pg-pagination li+li {
    margin-left: 20px;
}

.blog-list__pagination .pg-pagination li a {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    color: var(--gizmo-black);
    background-color: transparent;
    border: 1px solid var(--gizmo-base);
    border-radius: 50%;
    font-weight: 500;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-list__pagination .pg-pagination li:last-child a {
    color: var(--gizmo-base);
}

.blog-list__pagination .pg-pagination li a:hover {
    background-color: var(--gizmo-base);
    color: var(--gizmo-white);
    border: 1px solid var(--gizmo-base);
}

/*--------------------------------------------------------------
# Blog Page
--------------------------------------------------------------*/
.blog-page {
    background-color: transparent;
}

/*--------------------------------------------------------------
# Blog Carousel Page
--------------------------------------------------------------*/
.blog-carousel-page {
    position: relative;
    display: block;
    padding: 140px 0 190px;
    background-color: transparent;
}

.blog-carousel-page .blog-one__single {
    margin-bottom: 0;
}


















/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/