/*==============================================
    Team One
===============================================*/
.team-one {
    position: relative;
    display: block;
    padding: 135px 0 110px;
    z-index: 1;
}

.team-one__inner {
    position: relative;
    display: block;
    background-color: #F9F8FF;
}

.team-one__single {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.team-one__img-box {
    position: relative;
    display: block;
}

.team-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.team-one__img::after {
    background: rgba(var(--gizmo-white-rgb), 0.3);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 51%;
    top: 0;
    opacity: 1;
    pointer-events: none;
    transition: all 400ms linear;
}

.team-one__single:hover .team-one__img::after {
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 400ms linear;
}

.team-one__img::before {
    background: rgba(var(--gizmo-white-rgb), 0.3);
    bottom: 50%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 51%;
    opacity: 1;
    pointer-events: none;
    transition: all 400ms linear;
}

.team-one__single:hover .team-one__img::before {
    bottom: 0;
    top: 0;
    opacity: 0;
    transition: all 400ms linear;
}

.team-one__img img {
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transform: scale3d(1, 1, 1);
    transition: transform 1s ease-in-out;
}

.team-one__single:hover .team-one__img img {
    transform: scale(1.05) rotate(0deg);
}

.team-one__content {
    position: relative;
    display: block;
    background-color: var(--gizmo-white);
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: center;
    padding: 12px 20px 15px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.team-one__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.team-one__title a {
    color: var(--gizmo-black);
}

.team-one__title a:hover {
    color: var(--gizmo-base);
}

.team-one__sub-title {
    position: relative;
    display: block;
    margin: 10px 0 21px;
}

.team-one__social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    margin-bottom: 18px;
}

.team-one__social a {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: 16px;
    color: #787878;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.team-one__social a:hover {
    color: var(--gizmo-white);
    background-color: var(--gizmo-base);
}

.team-one__social a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--gizmo-base);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-property: all;
    transition-property: all;
    opacity: 1;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    z-index: -1;
}

.team-one__social a:hover:before {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.team-one__number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(var(--gizmo-base-rgb), .20);
    border-radius: 3px;
    padding: 8px 20px 11px;
}

.team-one__number .icon {
    position: relative;
    display: inline-block;
}

.team-one__number .icon span {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #484848;
}

.team-one__number a {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #484848;
}

.team-one__number a:hover {
    color: var(--gizmo-base);
}

.team-one__car-details {
    position: relative;
    display: block;
    padding-top: 50px;
}

.team-one__car-details-single {
    position: relative;
    display: block;
    padding: 45px 30px 45px;
    border-radius: 2px;
    margin-bottom: 30px;
    z-index: 1;
}

.team-one__car-details-single-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.team-one__car-details-title {
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    color: var(--gizmo-white);
}

.team-one__car-details-text {
    color: var(--gizmo-white);
    margin-top: 8px;
    margin-bottom: 27px;
}

.team-one__car-details-btn-box {
    position: relative;
    display: block;
}

/*--------------------------------------------------------------
# Team Details
--------------------------------------------------------------*/
.team-details {
    position: relative;
    display: block;
    padding: 140px 0 140px;
    z-index: 1;
}

.team-details .container {
    max-width: 914px;
}

.team-details__inner {
    position: relative;
    display: block;
}

.team-details__client-info-inner {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
}

.team-details__client-img {
    position: relative;
    display: block;
    max-width: 475px;
    width: 100%;
}

.team-details__client-img img {
    width: 100%;
}

.team-details__client-info {
    position: relative;
    display: block;
    max-width: 369px;
    width: 100%;
}

.team-details__client-name {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 26px;
}

.team-details__client-info-list {
    position: relative;
    display: block;
}

.team-details__client-info-list li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-details__client-info-list li+li {
    margin-top: 28px;
}

.team-details__client-info-list li .title-box {
    position: relative;
    max-width: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-details__client-info-list li h4 {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--gizmo-font);
    line-height: 28px;
}

.team-details__client-info-list li h4 span {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--gizmo-font);
    line-height: 28px;
    color: var(--gizmo-black);
}

.team-details__client-info-list li p {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--gizmo-font);
    line-height: 28px;
    color: var(--gizmo-black);
}

.team-details__client-info-list li p a {
    color: var(--gizmo-black);
}

.team-details__client-info-list li p a:hover {
    color: var(--gizmo-base);
}

.team-details__client-social {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;
}

.team-details__client-social a {
    position: relative;
    height: 45px;
    width: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: var(--gizmo-base);
    background-color: transparent;
    border: 1px solid var(--gizmo-base);
    font-size: 20px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.team-details__client-social a:hover {
    color: var(--gizmo-white);
    background-color: var(--gizmo-base);
}

.team-details__client-social a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--gizmo-base);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-property: all;
    transition-property: all;
    opacity: 1;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    z-index: -1;
}

.team-details__client-social a:hover:after {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.team-details__client-social a+a {
    margin-left: 10px;
}

.team-details__title-1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 33px;
    margin-bottom: 21px;
}

.team-details__skill-and-experience {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 90px;
    margin-top: 131px;
}

.team-details__slill {
    position: relative;
    display: block;
    max-width: 350px;
    width: 100%;
}

.team-details__skill-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.03em;
    margin-bottom: 27px;
}

.team-details__skill-list {
    position: relative;
    display: block;
}

.team-details__skill-list li {
    position: relative;
    display: block;
}

.team-details__skill-list li+li {
    margin-top: 33px;
}

.team-details__progress {
    position: relative;
    display: block;
}

.team-details__progress-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: var(--gizmo-black);
    margin-bottom: 17px;
    font-family: var(--gizmo-font);
    text-transform: capitalize;
    letter-spacing: -0.03em;
}

.team-details__progress .bar {
    position: relative;
    width: 100%;
    height: 3px;
}

.team-details__progress .bar-inner {
    position: relative;
    display: block;
    width: 0px;
    height: 3px;
    background-color: var(--gizmo-base);
    -webkit-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.team-details__progress .count-text {
    position: absolute;
    right: 0;
    bottom: 20px;
    color: var(--gizmo-black);
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    opacity: 0;
    letter-spacing: -0.03em;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

.team-details__progress .bar-inner.counted .count-text {
    opacity: 1;
}

.team-details__progress .bar.marb-0 {
    margin-bottom: 0;
}

.team-details__experience {
    position: relative;
    display: block;
    max-width: 410px;
    width: 100%;
}

.team-details__experience-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.03em;
    margin-bottom: 27px;
}

.team-details__experience-list {
    position: relative;
    display: block;
}

.team-details__experience-list li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-details__experience-list li+li {
    margin-top: 26px;
}

.team-details__experience-title-box {
    position: relative;
    display: block;
}

.team-details__experience-title-box h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    font-family: var(--gizmo-font);
    margin-bottom: 2px;
}

.team-details__experience-title-box span {
    color: var(--gizmo-black);
}

.team-details__experience-year {
    position: relative;
    display: block;
}

.team-details__experience-year p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.03em;
    color: var(--gizmo-black);
}

.team-details__education-and-award {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 90px;
    margin-top: 148px;
}

.team-details__education {
    position: relative;
    display: block;
    max-width: 350px;
    width: 100%;
}

.team-details__education-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.03em;
    margin-bottom: 27px;
}

.team-details__education-list {
    position: relative;
    display: block;
}

.team-details__education-list>li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-details__education-list>li+li {
    margin-top: 26px;
}

.team-details__education-title-box {
    position: relative;
    display: block;
}

.team-details__education-title-box h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    font-family: var(--gizmo-font);
    margin-bottom: 2px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-details__education-title-box h4 span {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.03em;
    color: var(--gizmo-black);
}

.team-details__education-title-box span {
    color: var(--gizmo-black);
}

.team-details__education-year {
    position: relative;
    display: block;
}

.team-details__education-year p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.03em;
    color: var(--gizmo-black);
}

.team-details__awards {
    position: relative;
    display: block;
    max-width: 410px;
    width: 100%;
}

.team-details__awards-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.03em;
    margin-bottom: 27px;
}

.team-details__awards-list {
    position: relative;
    display: block;
}

.team-details__awards-list>li {
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(204, 255, 0, .20);
    padding-bottom: 13px;
}

.team-details__awards-single {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-details__awards-list>li+li {
    margin-top: 34px;
}

.team-details__awards-title-box {
    position: relative;
    display: block;
}

.team-details__awards-title-box h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    font-family: var(--gizmo-font);
    margin-bottom: 2px;
}

.team-details__awards-title-box span {
    color: var(--gizmo-black);
}

.team-details__awards-year {
    position: relative;
    display: block;
}

.team-details__awards-year p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.03em;
    color: var(--gizmo-black);
}

.team-details__awards-img-box {
    position: absolute;
    left: 50%;
    top: -25px;
    width: 120px;
    height: 140px;
    z-index: 9999;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
    pointer-events: none;
    -webkit-animation: inactiveImageAnimation2 1s forwards ease;
    animation: inactiveImageAnimation2 1s forwards ease;
}

.cs-hover_tab-2.active .team-details__awards-img-box {
    -webkit-animation: activeImageAnimation2 1s forwards ease;
    animation: activeImageAnimation2 1s forwards ease;
}

@keyframes inactiveImageAnimation2 {
    0% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}

@keyframes activeImageAnimation2 {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

/*--------------------------------------------------------------
# Team Page
--------------------------------------------------------------*/
.team-page {
    position: relative;
    display: block;
}

.team-page .team-one__inner {
    background-color: transparent;
}

/*--------------------------------------------------------------
# Team Carousel Page
--------------------------------------------------------------*/
.team-carousel-page {
    position: relative;
    display: block;
    padding: 48px 0 40px;
}

.team-carousel-page .team-one__single {
    margin-bottom: 0;
}










/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/