/*==============================================
    Video One
===============================================*/
.video-one {
    position: relative;
    display: block;
    background-color: #001D21;
    padding: 185px 0 190px;
    clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0% 100%);
    z-index: 1;
}

.video-one__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .35;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.video-one__inner {
    position: relative;
    display: block;
    text-align: center;
}

.video-one__title {
    font-size: 55px;
    font-weight: 600;
    line-height: 69px;
    color: var(--gizmo-white);
    margin-bottom: 69px;
}

.video-one__video-link {
    position: relative;
    display: block;
    padding-bottom: 100px;
}

.video-one__video-icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 33px;
    color: var(--gizmo-white);
    background-color: var(--gizmo-base);
    border-radius: 50%;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin: 0 auto;
    z-index: 1;
}

.video-one__video-icon:hover {
    background-color: var(--gizmo-white);
    color: var(--gizmo-base);
}

.video-one__video-icon:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 15px solid rgba(var(--gizmo-white-rgb), .20);
    border-radius: 50%;
    z-index: -1;
}

.video-one__video-link .ripple,
.video-one__video-icon .ripple:before,
.video-one__video-icon .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0 rgba(var(--gizmo-white-rgb), 0.6);
    -o-box-shadow: 0 0 0 0 rgba(var(--gizmo-white-rgb), 0.6);
    -webkit-box-shadow: 0 0 0 0 rgba(var(--gizmo-white-rgb), 0.6);
    box-shadow: 0 0 0 0 rgba(var(--gizmo-white-rgb), 0.6);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}

.video-one__video-icon .ripple:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
}

.video-one__video-icon .ripple:after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    content: "";
    position: absolute;
}

/*--------------------------------------------------------------
# Brand Two
--------------------------------------------------------------*/
.brand-one {
    position: relative;
    display: block;
    border-top: 1px solid rgba(217, 217, 217, .20);
    padding-top: 110px;
    z-index: 1;
}

.brand-one .container {
    max-width: 1670px;
}

.brand-one__carousel {
    position: relative;
    display: block;
}

.brand-one__single {
    position: relative;
    display: block;
    text-align: center;
    z-index: 1;
}

.brand-one__img {
    position: relative;
    display: inline-block;
}

.brand-one__img>img {
    width: auto !important;
    position: relative;
    -webkit-transition: 500ms;
    transition: 500ms;
}









/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/